<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="pocetna" connectionString="Data Source=DESKTOP-VL9Q1G1\SQLEXPRESS;Integrated Security=True;Initial Catalog=ednevnik;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;"/>
	</connectionStrings>
</configuration>